# =====================
# NODE / ANGULAR
# =====================
node_modules/
dist/
.angular/
coverage/

# =====================
# DOTNET
# =====================
bin/
obj/
*.user
*.suo
*.cache
*.log

# =====================
# VISUAL STUDIO
# =====================
.vs/

# =====================
# ENV FILES
# =====================
.env

# =====================
# SYSTEM FILES
# =====================
.DS_Store
Thumbs.db